<h1>
  Reference :
  <a
    href="https://indepth.dev/posts/1208/angular-flex-layout-flexbox-and-grid-layout-for-angular-component"
    target="_blank"
    >https://indepth.dev/posts/1208/angular-flex-layout-flexbox-and-grid-layout-for-angular-component</a
  >
</h1>
<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="1vw"
  fxLayoutAlign="flex-start"
>
  <div
    style="width:50vwl"
    *ngFor="let _ of [1, 2, 3, 4, 5, 6]"
    fxFlex="0 1 calc(25% - 1vw)"
    fxFlex.lt-xl="0 1 calc(30% - 1vw)"
    fxFlex.lt-lg="0 1 calc(40% - 1vw)"
    fxFlex.lt-md="0 1 calc(50% - 1vw)"
    fxFlex.lt-sm="100%"
  >
    <div class="cardclass">
      <mat-card>
        <mat-card-content
          gdAreas="header header | side content | footer footer"
          gdGap="16px"
          gdRows="auto auto auto"
          gdAreas.lt-md="header | side | content | footer"
          gdRows.lt-md="auto auto auto auto"
        >
          <div class="simpleclass" gdArea="header">
            <h1 style="text-align:center">Pikachu</h1>
          </div>
          <div
            class="simpleclass"
            gdArea="side"
            style="position: relative;margin:0 auto;"
          >
            <img
              mat-card-image
              src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png"
              style="max-width: 10vw; max-height: 10vh text-align:center"
            />
          </div>
          <div class="simpleclass" gdArea="content">
            <!-- <div>Name : Pikachu</div> -->
            <mat-list>
              <mat-list-item>
                <strong>Height </strong> : 6 feet
                <mat-divider></mat-divider>
              </mat-list-item>
              <mat-list-item>
                <strong>Weight </strong> : 80 kg
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
            <div></div>
          </div>
          <div class="simpleclass" gdArea="footer">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Abilities </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item> Thunderbolt </mat-list-item>
                <mat-list-item> Kick </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
